<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
		div.min_width { width: 1200px; margin: 0 auto; position: relative;}
		div.pic { width: 139px; height: 139px; position: absolute; left: 520px; top: 211px;}
	</style>
</head>
<body>
	<div class="min_width">
		<canvas id="myCanvas"></canvas>
		<div class="pic">
			<img src="/images/weixin_yuan.png" />
		</div>
	</div>
</body>
<script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="canvas_2"></script>
</html>