<html>
<% include ../comm/head.html%>
<body class="canvaslist">
	<%include ../comm/top.html%>
	<section class="html_auto">
		<ul class="html_list">
			<li class="li_1">
				<div class="content_box li_click" url="/canvas/canvas_1" target="_blank">
					<div class="mask"></div>
					<div class="content">
						<p>canvas动画<br>公司结构</p>
					</div>
				</div>
			</li>
			<li class="li_2">
				<div class="content_box li_click" url="/canvas/canvas_2" target="_blank">
					<div class="mask"></div>
					<div class="content">
						<p>canvas动画<br>功能简介</p>
					</div>
				</div>
			</li>
			<li class="li_3">
				<div class="content_box li_click" url="/canvas/canvas_3" target="_blank">
					<div class="mask"></div>
					<div class="content">
						<p>canvas动画<br>雪景</p>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<% include ../comm/foot.html%>
<script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="canvas"></script>
</body>
</html>