<html>
<% include ./comm/head.html%>
<body class="about">
    <%include ./comm/top.html%>
	<section class="html_auto">        
        <h3 class="title">关于本站</h3>
        <p><span>nodejs:</span> 本站是使用nodejs搭建的项目，使用nodejs实现路由跳转以及html页面的模块化</p>
        <p><span>require.js:</span> 使用require实现js的高度模块化</p>
        <p><span>swiper.js:</span> 实现页面轮播效果</p>
        <p><span>CSS3 3D动画：</span> 使用css3实现我的主页的翻转动画</p>
        <p><span>HTML5 canvas动画：</span> canvas动画页面的案例是一些H5结合原生js实现的动画效果</p>
        <p><span>less:</span> 本站样式使用了less，实现样式模块化及复用</p>    
    </section>
	<% include ./comm/foot.html%>
<script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="index"></script>
</body>
</html>