<html>
<% include ./comm/head.html%>
<body class="index">
	<%include ./comm/top.html%>
	<section class="html_auto">
		<section class="AboutUs">
			<h3 class="module_title">基本信息</h3>
			<div class="information">
				<div class="left">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</div>
				<div class="right">白梦超</div>
				<div class="left">求职意向：</div>
				<div class="right">前端开发，前端工程师</div>
				<div class="left">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</div>
				<div class="right">男</div>
				<div class="left">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</div>
				<div class="right">统招生本科</div>
				<div class="left">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;校：</div>
				<div class="right">唐山师范学院</div>
				<div class="left">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</div>
				<div class="right">28</div>
				<div class="left">工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</div>
				<div class="right">3年</div>
				<div class="left">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</div>
				<div class="right">18513458154</div>
				<div class="left">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</div>
				<div class="right">1479512156@qq.com</div>
			</div>
		</section>
		<section class="module_box">
			<h3 class="module_title">技能领域</h3>
			<div class="knowledge">
				<div class="box_hover">
					<div class="box_bao">
						<div class="box">			
							<div class="box_out">
								熟练使用html、css、H5、css3完成页面布局和页面重构，配合js、jQuery实现页面动态交互效果，并且实现ajax数据交互。
							</div>
						</div>
						<div class="box">
							<div class="box_in">
								html,css<br>html5,css3<br>javascript,jQuery<br>ajax
							</div>
						</div>
					</div>
				</div>
				<div class="box_hover">
					<div class="box_bao">
						<div class="box">
							<div class="box_out">
								熟练使用require.js、nodejs实现网站构建，以及高度模块化，善于使用svn、git等版本管理器团队合作，善于利用npm、bower等前端包管理器，fis3优化项目
							</div>
						</div>
						<div class="box">
							<div class="box_in">
								require.js,nodejs<br>svn,git<br>npm,bower<br>fis3
							</div>
						</div>
					</div>
				</div>
				<div class="box_hover">
					<div class="box_bao">
						<div class="box">
							<div class="box_out">
								熟练使用VScode,sublime等前端编程软件，以及photoshop制图工具，100%还原设计稿，完成项目前台页面
							</div>
						</div>
						<div class="box">
							<div class="box_in">
								VScode,sublime<br>photoshop
							</div>
						</div>
					</div>
				</div>
				<div class="box_hover">
					<div class="box_bao">
						<div class="box">
							<div class="box_out">
								熟悉angular、es6，对es6的新特性略有研究，目前还在深入的学习angular和es6
							</div>
						</div>
						<div class="box">
							<div class="box_in">
								angular,es6
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="module_box">
			<h3 class="module_title">工作经历</h3>
			<div class="personal">
				<p class="p1">1.廊坊纵横网络科技有限公司（2014.7-2015.2）</p>
				<p class="p2">毕业后的第一份工作，使我决定往前端开发的方向发展。主要工作能容是百度优化，期间学会了许多有关优化方面的知识，并且在此期间自学前端半年，之后前往北京发展</p>
			</div>
			<div class="personal">
				<p class="p1">2.北京合众康桥科技发展有限公司（2015.3-2016.3）</p>
				<p class="p2">我的第一份正式的前端工作，职位是前端开发，主要工作内容包括前端页面布局，页面交互，以及与后端php工作人员的数据交互，网站页面重构等。期间通过不断地学习和实践，对javascript和jQuery有了深入的了解和使用经验。</p>
			</div>
			<div class="personal">
				<p class="p1">2.北京拓扑高科信息技术有限公司（2016.3-今）</p>
				<p class="p2">这份工作是我工作最长，也是使我能力增长最多的工作。我们属于半外包公司，有自己的项目，也做外包工作接触项目比较多，遇见的要求也是各种各样，相对来说能力增长较快。在次期间接触了项目构建，项目优化，项目高度模块化和复用，并且学习了nodejs和angular，使自己有很大提升。</p>
			</div>
		</section>
		<section class="module_box">
				<h3 class="module_title">自我评价</h3>
				<div class="personal">					
					<p class="p2">三年的工作使我成长了许多，无论是在工作上，还是在生活上。经过三年的打磨，我不仅提升了自己的专业技能，同样重要的我还学会了，如何在团队中合作，it行业不是一个人的天下，只有团队合作，懂得分享才能共同进步，不被时代所淘汰，所以我始终抱着学习的态度，边工作边学习。</p>
				</div>
			</section>
	</section>
	<% include ./comm/foot.html%>
<script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="index"></script>
</body>
</html>