<html>
<% include ./comm/head.html%>
<body class="myworks">
	<%include ./comm/top.html%>
	<section class="html_auto">
		<ul class="html_list">
			<li class="li_1">
				<div class="content_box li_click" url="http://topu.net/" target="_blank">
					<div class="mask"></div>
					<div class="content">
						<p>pc端<br>拓扑官网</p>
					</div>
				</div>
			</li>
			<li class="li_2">
				<div class="content_box li_click" url="http://szttcn.com/" target="_blank">
					<div class="mask"></div>
					<div class="content">
						<p>pc和移动<br>深圳智库官网</p>
					</div>
				</div>
			</li>
			<li class="li_3">
				<div class="content_box li_click" url="http://glqfzy.com/" target="_blank">
					<div class="mask"></div>
					<div class="content">
						<p>pc和移动<br>清风医疗</p>
					</div>
				</div>
			</li>
			<li class="li_4">
				<div class="content_box li_click" url="http://glqfzy.com/" target="_blank">
					<div class="mask"></div>
					<div class="content">
						<p>pc端<br>中国固废网</p>
					</div>
				</div>
			</li>
			<li class="li_5">
				<div class="content_box li_click" url="http://siri-u.com/" target="_blank">
					<div class="mask"></div>
					<div class="content">
						<p>微信项目<br>私寓</p>
					</div>
				</div>
			</li>
			<li class="li_6">
				<div class="content_box">
					<div class="mask"></div>
					<div class="content">
						<p>微信项目<br>请关注微信公众号（宏济康乐福）查看</p>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<% include ./comm/foot.html%>
<script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="canvas"></script>
</body>
</html>