<html>
<% include ./comm/head.html%>
<body class="welcome">
    <ul>
    	<li><img src="/images/welcome/1.jpg" /></li>
    	<li><img src="/images/welcome/2.jpg" /></li>
    	<li><img src="/images/welcome/3.jpg" /></li>
    	<li><img src="/images/welcome/4.jpg" /></li>
    	<li><img src="/images/welcome/5.jpg" /></li>
    	<li><img src="/images/welcome/6.jpg" /></li>
    	<li><img src="/images/welcome/7.jpg" /></li>
    	<li><img src="/images/welcome/8.jpg" /></li>
    	<li><img src="/images/welcome/9.jpg" /></li>
    	<li><img src="/images/welcome/10.jpg" /></li>
    	<li><img src="/images/welcome/11.jpg" /></li>
    </ul>
<script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="welcome"></script>
</body>
</html>