<section class="html_auto">
    <section class="html_banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/UploadFiles/banner.jpg"></div>
                <div class="swiper-slide"><img src="/UploadFiles/banner.jpg"></div>
                <div class="swiper-slide"><img src="/UploadFiles/banner.jpg"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
</section>